.sankeyChart {
    font-family: "Segoe UI", wf_segoe-ui_normal, helvetica, arial, sans-serif;
    user-select: none;

    .node {
        stroke: #ffffff;
        stroke-width: 1px;
        transition: opacity 0.1s ease;
    }

    .link {
        transition: stroke-opacity 0.1s ease;
    }

    .label {
        pointer-events: none;
    }
}

.landingPage {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px;
    box-sizing: border-box;
    color: #605e5c;
    font-family: "Segoe UI", wf_segoe-ui_normal, helvetica, arial, sans-serif;
    font-size: 13px;
}
